<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<form method="POST">
  <div>
    <label name="email">Enter your email:</label>
    <input name="email" />
  </div>
  <div>
    <label name="password">Enter your password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <button>Logon</button>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </div>
</form>
<a href="/">
  <button type="button">Cancel</button>
</a>
<%- include("partials/footer.ejs") %>
